name: Build and Push to GHCR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      base: ${{ steps.filter.outputs.base }}
      image_name: ${{ steps.lowercase.outputs.image_name }}
    steps:
      - name: Lowercase image name
        id: lowercase
        run: |
          echo "image_name=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            base:
              - 'Dockerfile.base'

  build-base:
    needs: filter
    if: needs.filter.outputs.base == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Base image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.base
          push: true
          tags: ${{ env.REGISTRY }}/${{ needs.filter.outputs.image_name }}-base:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-app:
    needs: [filter, build-base]
    if: always() && (needs.build-base.result == 'success' || needs.build-base.result == 'skipped')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push App image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ needs.filter.outputs.image_name }}-base:latest
          push: true
          tags: ${{ env.REGISTRY }}/${{ needs.filter.outputs.image_name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
